 
// Colors
 $red: #D18A8A;
 $grey-light: #C5BFC5;


// You can use varibales inside variables
$primary: $red;
$secondary: $grey-light;

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300);

// Font families
$helvetica: Helvetica, Arial, sans-serif;
$titillium-web: 'Titillium Web', sans-serif;